apiVersion: v1
kind: Service
metadata:
  name: livekit
  namespace: livekit
spec:
  type: LoadBalancer
  selector:
    app: livekit
  ports:
    - name: http
      port: 7880
      targetPort: 7880
    - name: rtc-udp
      port: 7881
      protocol: UDP
    - name: rtc-tcp
      port: 7882

